html {
  scroll-behavior: smooth;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  justify-items: end;
  padding-top: 92px;
  padding-left: 50px;
  padding-bottom: 87px;
  padding-right: 50px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
}

.header__menu {
  display: flex;
  font-size: 18px;
  padding-bottom: 10px;
  text-underline-offset: 4px;
  padding-right: 37px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.link-active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: auto;
  height: 114px;
}

.header__logo-image {
  width: 100%;
  padding-right: 5px;
  padding-left: 6px;
}

.header_address {
  padding-right: 33px;
  padding-bottom: 10px;
}

.address {
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  list-style-type: none;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  width: 1100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.aligned-text {
  display: block;
  color: #ffffff;
  padding-left: 50px;
  padding-top: 165px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  z-index: 0;
}

.aligned-text_center {
  padding-top: 20px;
  text-align: center;
  padding-right: 22px;
}

.aligned-text_right {
  padding-left: 0px;
  padding-top: 20px;
  padding-right: 21px;
  padding-bottom: 106px;
  text-align: right;
}

.cover__description {
  display: flex;
  color: #ffffff;
  justify-content: space-evenly;
  padding-bottom: 50px;
  align-items: center;
}

.cover__description-text {
  padding-right: 54px;
  word-spacing: 18px;
  font-size: 22px;
  line-height: 28px;
  font-style: normal;
  text-transform: uppercase;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  padding-top: 180px;
  padding-left: 63px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: flex-start;
  padding-top: 27px;
  padding-right: 23px;
  padding-left: 25px;
  color: #ffffff;
  gap: 25px;
}

.lots__card-list-item {
  display: flex;
  width: 334px;
  min-height: 596px;
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  line-height: 26px;
  font-size: 22px;
  padding-top: 49px;
  padding-left: 40px;
  text-transform: uppercase;
  text-decoration: underline;
  max-width: 94%;
}

.card__text {
  line-height: 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-right: 40px;
  padding-bottom: 49px;
  padding-left: 40px;
  text-decoration: none;
}

.lots__look-more-link {
  display: inline-block;
  font-weight: normal;
  font-size: 20px;
  padding-left: 64px;
  color: black;
  padding-top: 29px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px repeat(1, 1fr);
}

.about__logo {
  background-color: black;
  margin-top: 155px;
  margin-left: 71px;
  display: flex;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
}

.about_logo_white {
  width: 148px;
  height: 114px;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  word-spacing: 0px;
  padding-left: 49px;
  padding-top: 257px;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  padding-left: 50px;
  padding-top: 8px;
  font-size: 20px;
  gap: 24px;
  max-width: 750px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-top: 181px;
  margin-bottom: 81px;
}

.footer_address {
  padding-right: 26px;
}

.footer__links_list {
  padding-left: 3px;
  list-style: none;
  padding-top: 2px;
  line-height: 21px;
}

.footer__link {
  display: inline-block;
  text-align: center;
  width: 150px;
  padding: 1px 0;
  line-height: 1;
  letter-spacing: 0px;
  font-size: 18px;
}

.footer__img {
  display: flex;
  gap: 48px;
  list-style: none;
  padding-left: 30px;
}

.footer-logo {
  width: 48px;
  height: 48px;
}

/* заранее извиняюсь что криво) */
